<div class="flex items-center justify-between mb-2">
  <div class="flex-shrink-0">
    <h2 class="text-xl font-bold text-gray-900 mb-2">Forecast charts</h2>
  </div>
</div>
<div
    [formGroup]="formGroup"
    class="flex text-gray-500">
  <mat-radio-group
      formControlName="Wind speed"
      class="flex flex-col mr-8">
    <mat-label class="mb-3">Wind speed</mat-label>
    <mat-radio-button
        class="mb-1"
        *ngFor="let type of chartTypes"
        [value]="type">
      {{ type }}
    </mat-radio-button>
  </mat-radio-group>
  <mat-radio-group
      formControlName="Pressure"
      class="flex flex-col">
    <mat-label class="mb-3">Pressure</mat-label>
    <mat-radio-button
        class="mb-1"
        *ngFor="let type of chartTypes"
        [value]="type">
      {{ type }}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div appChart
     class="mt-4"
     *ngIf="rawEntries"
     [entries]="rawEntries"
     [yAxis]="yAxis"
     xAxis="date"></div>
