<!--<router-outlet></router-outlet>-->

<!-- This is an example component -->
<div>
  <app-navigation></app-navigation>
  <div class="flex overflow-hidden bg-white pt-12">
    <app-sidebar></app-sidebar>
    <div class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
      <div class="pt-12 px-4">
        <div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">
            <app-forecast-chart></app-forecast-chart>
          </div>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <app-closest-days-forecast></app-closest-days-forecast>
          </div>
        </div>
        <div class="w-full grid my-4 grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <app-forecast-chart3></app-forecast-chart3>
          </div>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">
            <app-forecast-chart2></app-forecast-chart2>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
