<div class="mb-4 flex items-center justify-between">
  <div>
    <h3 class="text-xl font-bold text-gray-900 mb-2">Latest Transactions</h3>
    <span class="text-base font-normal text-gray-500">This is a list of latest transactions</span>
  </div>
</div>
<div class="flex flex-col mt-8">
  <div class="overflow-x-auto rounded-lg">
    <div class="align-middle inline-block min-w-full">
      <div class="shadow overflow-hidden sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col"
                class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Transaction
            </th>
            <th scope="col"
                class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Date & Time
            </th>
            <th scope="col"
                class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Amount
            </th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <tr *ngFor="let transaction of latestTransactions">
            <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
              <ng-container *ngIf="!isRefund(transaction.Amount)">Payment via <span class="font-semibold">{{ transaction.System }}</span>
              </ng-container>
              <ng-container *ngIf="isRefund(transaction.Amount)">Payment refund</ng-container>
            </td>
            <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
              {{ transaction.DateISO | date }}
            </td>
            <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
              {{ transaction.Amount | currency }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
